<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shop</title>
</head>
<body>
    <h1>Ask company</h1>

    <form action="" method="GET">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value="search"/>
    </form>

    <ul>
        {% for item in item_list %}
            <li>
                {{ item.name }}
                {{ item.price }}
                {{ item.desc }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>